/*
nav
*/
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    padding-top: 32px;
    padding-bottom: 31px;
    padding-left: 69px;
    padding-right: 71px;
    top: 0px;
    width: auto;
    background-color: #fff;
}

.nav .menu {
    display: flex;
}

.nav .menu a {
    text-decoration: none;
    color: #161616;
}

.nav .menu li.selected::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    border: 2px solid rgb(173, 222, 135);
    width: 50%;
    line-height: 10px;

}

.nav .menu a:hover {
    color: rgb(173, 222, 135);
}

.nav .menu li {

    margin-left: 22.5px;
    margin-right: 22.5px;
    position: relative;
}

.nav .icons img {

    margin: 18.5px;
    padding-top: 0;
    padding-bottom: 0;
}


/*
cabecalho
*/
.cabecalho {
    font-size: 401px;
    background-color: rgb(173, 222, 135);
    background-image: url('./img/SALE.png');
    text-align: center;
    padding: 83px 0 82px 0;
    background-size: cover;
}

/*
cabecalho
*/

/*
nav
*/

.conteudo .corpo_produto {
    display: flex;
    padding: 48px 70px;
    justify-content: center;
    flex-wrap: wrap;

}

.conteudo .corpo_produto .produto {
    margin: 0px 97px;    
}

.conteudo .formulario .formulario_produto {
    display: flex;
    padding: 34px 0 32px 69px;
    align-items: center;
    border-bottom: 1px solid #a5a1a1;
    
}
.conteudo .formulario .formulario_produto h1{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.conteudo .formulario .formulario_produto .filtragem {
    display: flex;
    font-size: 18px;
    margin-left: 26px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    border-style: none;
    
}

.conteudo .corpo_produto .produto .titulo_produto {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    color: #161616;
    margin-top: 23px;
    margin-bottom: 11px;
}

.conteudo .corpo_produto .produto .valor_produto {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #5ca720;
    margin-bottom: 65px;
}

.conteudo .corpo_produto .produto .cifrao {
    color: #161616;
    font-size: 20px;

}

/*
nav
*/



/* footer */

.firt_box {
    border-top: 1px solid #a5a1a1;
    display: flex;
    justify-content: space-between;


}


.firt_box .links {

    margin: 40px 71px 50px;
}

.firt_box .links li {
    margin: 10px 0;
}

.firt_box .newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 18px;
    margin-right: 70px;

}

.firt_box .newsletter h1 {
    margin-bottom: 18px;
    font-size: 20px;

}

.firt_box .newsletter .buttonsubimit {

    background-color: #51B248;
    height: 54px;
    width: 152px;
    padding: 0 34px 0 32px;
    border-radius: 0 5px 5px 0;
    color: #F8F8F8;
    border: none;
    margin-left: -4px;
    cursor: pointer;
}

.firt_box .newsletter .email {

    border: 0.5px solid #F8F8F8;
    height: 54px;
    width: 397px;
    background-color: #D9D9D9;
    border-radius: 5px 0 0 5px;
    padding: 0 13px;
}

.second_box {
    border-top: 1px solid #a5a1a1;
    display: flex;
    justify-content: space-between;

}


.second_box .social_media {
    margin-top: 43px;
    margin-left: 71px;
    margin-bottom: 55px;
    display: flex;
    align-items: center;

}

.second_box .social_media img {
    margin-right: 20px;
}

.second_box .payments {
    margin-top: 55px;
    margin-right: 70px;
    margin-bottom: 58px;
    display: flex;
    align-items: center;
}

.second_box .payments .icon {
    margin-left: 24px;
}


@media only screen and (max-width: 500px) {
    .nav{
        flex-direction: row;

    }
    .cabecalho{
        padding: 48px;

    }

    .cabecalho img{
        max-width: 100%;
    }

    /* conteudo*/

    .conteudo{
        padding: 28px 33px;
        gap: 97px;
    }

    .conteudo .produto{
        margin: 0;
        width: 125px;    
        


    }
    .conteudo .produto img{
        max-width: 100%;
        
    }

    .conteudo .produto .titulo_produto{
        font-size:  12px;
    }
    .conteudo .produto .valor_produto{
        font-size: 14px ;

    }
    .conteudo .produto .cifrao{
        font-size: 12px ;

    }
    /* end conteudo*/

    /* rodape */

    .firt_box .links{
        margin-top: 33px;
        margin-left: 33px;
        margin-bottom: 54px;
    }
    .rodape .firt_box{
        flex-direction: column;
    }
    
    .newsletter{
        display: flex;
        flex-direction: column;
    }
    .newsletter .form{
        flex-direction: column;
    }

    .newsletter .form .email {
        width: 200px;
    }
  }


